<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile>Image 1</mat-grid-tile>
  <mat-grid-tile>Image 2</mat-grid-tile>
  <mat-grid-tile>Image 3</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
  <mat-grid-tile>Image 4</mat-grid-tile>
</mat-grid-list>