.icon {
  &__custom {
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 20px;
  }

  &__generic {
    font-size: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 20px;
  }
}