@import '../../variables/colors.scss';

.chat-wrapper {
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: calc(100vh - 145px);
  margin: 0 auto;
  margin-top: 5px;
  max-width: 1200px;
}

.chat {
  &__sidebar {
    background: darken($white, 10%);
    width: 50%;
  }

  &__messages {
    background: lightgrey;
    width: 100%;
  }

  &__users,
  &__info {
    height: 50%;
    overflow-y: auto;
  }
}

.sidenav-toggle {
  cursor: pointer;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 3px;

  &__icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__field {
    width: 100%;
  }

  &__input {
    background: darken(#fff, 10%);
    border: none;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    height: 40px;
    outline: none;
    padding: 5px 40px 5px 10px;
    transition: 0.1s;
    width: 100%;

    &:focus {
      border-bottom: 3px solid $purple;
      transition: 0.1s;
    }
  }

  &__main {
    max-height: calc(100vh - 185px);
    overflow-y: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 40px;

    li {
      display: flex;
      max-width: 70%;
    }
  }

  &__form {
    position: relative;
  }
}

.send-icon {
  align-items: center;
  background: darken(#fff, 5%);
  border-radius: 50%;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: 26px;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 7px;
  width: 26px;

  &__icon {
    color: $purple;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.my-message {
  align-self: flex-end;

  .message-wrapper {
    background: lighten($purple, 80%);
  }
}

.other-message {
  align-self: flex-start;
}
