<mat-sidenav-container class="chat-wrapper chat">
  <mat-sidenav class="chat__sidebar" #sidenav mode="side" [(opened)]="sideOpened">
    <app-chat-info-header [project]="project"></app-chat-info-header>
    <mat-tab-group>
      <mat-tab label="Info">
        <app-chat-info [project]="project"></app-chat-info>
      </mat-tab>
      <mat-tab label="Team">
        <app-chat-users [users]="users" [online]="onlineUsers"></app-chat-users>
      </mat-tab>
      <mat-tab label="Files"><app-chat-files></app-chat-files></mat-tab>
      <mat-tab label="Images"><app-chat-images></app-chat-images></mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content class="chat__messages messages">
    <div (click)="sidenav.toggle()" class="sidenav-toggle">
      <mat-icon class="sidenav-toggle__icon">{{ sideOpened ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
    </div>
    <div class="messages__main">
      <ul class="messages__list">
        <li *ngFor="let message of groupedMessages" [ngClass]="message.user._id === user._id ? 'my-message': 'other-message'">
          <app-chat-profile-pic *ngIf="message.user._id !== user._id" [user]="message.user" [offset]="true"></app-chat-profile-pic>
          <app-chat-message [message]="message" [user]="user"></app-chat-message>
        </li>
      </ul>
    </div>
    <div class="messages__form">
      <form [formGroup]="chatForm" #formRef="ngForm" (ngSubmit)="sendMessage(chatForm.value)">
        <input formControlName="text" type="text" class="messages__input" required>
        <div class="send-icon" (click)="submitForm()">
          <mat-icon class="send-icon__icon">send</mat-icon>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
