<mat-horizontal-stepper class="stepper">
  <mat-step label="Step 1" state="doc">
    <div class="stepper__wrap">
      <p>Create profile</p>
      <img class="stepper__img" src="../../../assets/profile.jpg">
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2" state="doc">
    <div class="stepper__wrap">
      <p>Start the project</p>
      <img class="stepper__img" src="../../../assets/newproject.jpg">
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3" state="chat">
    <div class="stepper__wrap">
      <p>Build a team</p>
      <img class="stepper__img" src="../../../assets/projects.jpg">
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 4">
    <div class="stepper__wrap">
      <p>Chat</p>
      <img class="stepper__img" src="../../../assets/chat.jpg">
    </div>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="doc">
    <mat-icon>document</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
