<header class="header">
  <div class="header__contacts">
    <div class="container">
      <div class="header__info">
        <ul class="info">
          <li class="info__item">
            <a class="info__link" href="mailto: info@teamy.com">info@teamy.com</a>
          </li>
          <li class="info__item">
            <a class="info__link" href="tel:+380664049376">+380664049376</a>
          </li>
        </ul>
      </div>

      <div class="header__socials">
      <ul class="socials">
        <li class="socials__item">
          <a class="socials__link fb" href="https://www.facebook.com"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link twitter" href="https://twitter.com"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link insta" href="https://www.instagram.com"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link google" href="https://www.google.com"></a>
        </li>
      </ul>
    </div>
    </div>
  </div>

  <div class="header__main">
    <div class="container">
      <div class="header__logo">
        <a routerLink="/">
          <h2>Teamy</h2>
        </a>
      </div>

      <div class="header__sign">
        <ul class="sign">
          <li class="sign__item" *ngIf="!isLoggedIn">
            <button mat-raised-button class="sign__btn" routerLink="/register">Sign up</button>
          </li>

          <li class="sign__item" *ngIf="!isLoggedIn">
            <button mat-raised-button class="sign__btn" routerLink="/login">Sign in</button>
          </li>

          <li class="sign__item" *ngIf="isLoggedIn">
            <button mat-raised-button class="sign__btn" routerLink="/profile">Profile</button>
          </li>

          <li class="sign__item" *ngIf="isLoggedIn" (click)="onLogoutClick()">
            <button mat-raised-button class="sign__btn">Sign out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
