<div class="wrapper">
  <div class="project">
    <div class="project__title-container">
      <h1 class="project__title">{{ project?.title }}</h1>
      <p class="project__deadline">
        <small>Deadline: {{ project?.deadline | date }}</small>
      </p>
    </div>
    <div class="project__options">
      <div class="project__author">
        <h2 class="project__subtitle">Author:</h2>
        <app-author
          *ngIf="project?.created_by"
          [authorId]="project?.created_by"
        ></app-author>
      </div>
      <div class="project__countdown">
        <h2 class="project__subtitle">Time left:</h2>
        <div *ngIf="!isProjectOver; else projectIsOver">
          <countdown
            *ngIf="project?.deadline"
            (reached)="projectIsOverMessage($event)"
            units="Days | Hours | Minutes | Seconds"
            [end]="project?.deadline"
            [text]="countDownText"
          ></countdown>
        </div>
        <button
          class="project__copy-link-button"
          mat-raised-button
          color="accent"
          [cdkCopyToClipboard]="projectUrl"
          (click)="showMessageCopied()"
        >
          Copy project link
        </button>
      </div>
      <div class="project__mentor" matTooltip="Click on mentor photo to copy email">
        <h2 class="project__subtitle">Mentors:</h2>
        <ul class="project__mentor-list mentor-list">
          <li class="mentor-list__item" *ngFor="let mentor of mentors$ | async">
            <div
              class="mentor-list__image-container"
              [cdkCopyToClipboard]="mentor.email"
            >
              <img
                class="mentor-list__image"
                [src]="
                  mentor.photo ? mentor.photo : '/assets/default-user-image.png'
                "
                [alt]="mentor.name"
                [matTooltip]="mentor.email"
                (click)="showMessageCopied()"
              />
            </div>
          </li>
        </ul>
        <button mat-raised-button color="accent" *ngIf="isUserProjectCreator" (click)="openModalAddMentor()">
          Add mentor
        </button>
      </div>
    </div>
    <div class="project__line"></div>
    <div class="project__info">
      <div class="project__description">
        <h2>Description:</h2>
        <p>{{ project?.description }}</p>
      </div>
      <div class="project__requirements" *ngIf="project?.requirements.length">
        <div class="project__requirements-title-container">
          <h2>Requirements:</h2>
          <div class="instructions">
            <div class="instructions__circle"></div>
            <p>- High priority</p>
          </div>
        </div>

        <ul class="project__requirements-list">
          <li
            class="project__requirement"
            *ngFor="let requirement of project?.requirements"
          >
            <p
              class="project__requirement-title"
              [ngClass]="{
                'project__requirement-title--required': requirement.priority
              }"
            >
              {{ requirement.title }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" *ngIf="!isUserProjectCreator" (click)="becomeMember()">
    Become a member
  </button>

  <app-create-teams
    [members]="project?.members">
  </app-create-teams>
</div>

<ng-template #projectIsOver>
  <div><p class="project__over">Project is over</p></div>
</ng-template>
