<mat-list class="files-wrapper">
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <div mat-line>project-description.doc</div>
    <div mat-line>03.06.2020</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <div mat-line>sample-table.xls</div>
    <div mat-line>03.06.2020</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <div mat-line>presentation.pptx</div>
    <div mat-line>03.06.2020</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <div mat-line>team-members-list.doc</div>
    <div mat-line>03.06.2020</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>description</mat-icon>
    <div mat-line>project.doc</div>
    <div mat-line>03.06.2020</div>
  </mat-list-item>
</mat-list>