@import '../../../styles/variables/colors.scss';

.chat-users {
  min-height: 0;

  &__wrapper {
    font-size: 13px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 40px;

    li {
      width: 49%;
    }
  }

  &__online {
    color: green;
  }
}
