@import '../../../variables/colors.scss';

.message-wrapper {
  background: darken($white, 10%);
  border-radius: 10px;
  box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.5);
  margin-top: 10px;
  padding: 10px 20px;
}

.my-message {
  background: lighten($purple, 45%);
}

.message {
  display: flex;
  flex-direction: column;

  &__text,
  &__info {
    width: 100%;
  }

  &__text {
    font-size: 13px;
    word-break: break-all;
  }

  &__info {
    color: lighten($black, 40%);
    display: flex;
    font-size: 11px;
    margin-bottom: 10px;
  }

  &__user {
    margin-right: 20px;
  }
}