<h2 mat-dialog-title align="center"> Add new member </h2>
<mat-dialog-content>
  <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
    <mat-form-field class="form__input">
      <mat-label>Old password:</mat-label>
      <input matInput required formControlName="oldPassword">
<!--      <mat-error *ngIf="formChangePassword.get('oldPassword').invalid"> {{ getErrorMessageOldPassword() }} </mat-error>-->
    </mat-form-field>

    <mat-form-field class="form__input">
      <mat-label>New password:</mat-label>
      <input matInput required formControlName="newPassword">
<!--      <mat-error *ngIf="formChangePassword.get('newPassword').invalid"> {{ getErrorMessageNewPassword() }} </mat-error>-->
    </mat-form-field>

    <mat-form-field class="form__input">
      <mat-label>New password one more time:</mat-label>
      <input matInput required formControlName="newPasswordAgain">
<!--      <mat-error *ngIf="formChangePassword.get('newPasswordAgain').invalid"> {{ getErrorMessageNewPasswordAgain() }} </mat-error>-->
    </mat-form-field>

    <mat-error align="center" *ngIf="!successSubmitted"> We can't change your password now, please try again later </mat-error>

    <mat-dialog-actions align="center">
      <button mat-raised-button mat-dialog-close> Cancel </button>
      <button mat-raised-button [mat-dialog-close]="true"> Change </button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
