<h2 mat-dialog-title align="center"> Change profile password </h2>
<mat-dialog-content class="form">
  <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
    <mat-form-field class="form__input">
      <mat-label>Old password:</mat-label>
      <input matInput required formControlName="password" type="password">
      <mat-error *ngIf="formChangePassword.get('password').invalid"> {{ getErrorMessagePassword() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form__input">
      <mat-label>New password:</mat-label>
      <input matInput required formControlName="newPassword" type="password">
      <mat-error *ngIf="formChangePassword.get('newPassword').invalid"> {{ getErrorMessageNewPassword() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form__input">
      <mat-label>New password confirmation:</mat-label>
      <input matInput required formControlName="newPasswordConfirmation" type="password">
      <mat-error *ngIf="formChangePassword.get('newPasswordConfirmation').invalid"> {{ getErrorMessageNewPasswordConfirmation() }} </mat-error>
    </mat-form-field>

    <mat-error align="center" class="form__error" *ngIf="!successSubmitted"> We can't change your password now, please try again later </mat-error>
    <mat-error align="center" class="form__error" *ngIf="invalidPassword"> Invalid current password </mat-error>

    <mat-dialog-actions align="center">
      <button mat-raised-button mat-dialog-close [disabled]="formChangePassword.disabled"> Cancel </button>
      <button mat-raised-button type="submit" color="primary" [disabled]="formChangePassword.invalid || formChangePassword.disabled"> Change </button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
