@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/mixins.scss';

.chat-info {
  min-height: 0;

  &__wrapper {
    padding: 10px;
  }

  @include scrollbar();
}

.general {
  &__list-header {
    font-weight: bold;
  }

  &__link {
    text-decoration: underline;

    &:hover {
      color: $purple;
    }
  }
}

.links {
  &__input {
    width: 80%;
  }

  &__add-btn {
    width: 20%;
  }
}
