@import '../../../styles/variables/colors.scss';

.chat-info {
  min-height: 0;

  &__wrapper {
    padding: 10px;
  }
}

.general {
  &__list-header {
    font-weight: bold;
  }

  &__link {
    :hover {
      color: $purple;
      text-decoration: underline;
    }
  }
}
