<div class="new-project">
  <div class="new-project__container">
    <h1>New project</h1>
    <form [formGroup]="newProjectForm" class="new-project__form">
      <mat-form-field>
        <input
          matInput
          placeholder="Project title"
          formControlName="title"
          class="new-project__input"
        />
      </mat-form-field>

      <div>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Description..."
            formControlName="description"
            class="new-project__input new-project__input--textarea"
          ></textarea>
        </mat-form-field>
      </div>

      <ol formArrayName="requirements" class="new-project__requirements-list">
        <li
          *ngFor="let require of requirementsForms.controls; let i = index"
          [formGroupName]="i"
        >
          <div>
            <mat-form-field>
              <input
                matInput
                placeholder="Requirement"
                formControlName="title"
                class="new-project__input"
              />
            </mat-form-field>
          </div>

          <div class="new-project__requirement-controls">
            <mat-checkbox formControlName="priority">Priority</mat-checkbox>

            <button
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a home icon"
              (click)="deleteRequirement(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ol>
      <button
        mat-raised-button
        color="accent"
        (click)="addRequirement()"
        class="new-project__button"
      >
        + Add requirement
      </button>
      <div>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="deadline"
            placeholder="Deadline"
            class="new-project__input"
            [min]="minDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker
        ></mat-form-field>
      </div>
    </form>
    <a routerLink="/project">
    <button mat-raised-button color="primary">
      Create project
    </button>
    </a>
  </div>
</div>
