<div class="wrapper user">

  <p *ngIf="!isServerWork" class="user__error">
    Sorry, something went wrong and we can’t download your data now. Please try again later.
  </p>

  <ng-container *ngIf="isServerWork">
    <mat-sidenav-container class="user__profile--container" hasBackdrop='true'>
      <mat-sidenav #userAccount mode="over" [(opened)]="isAccountOpen">
        <mat-card class="user__profile">
          <mat-card-header class="user__profile--header">
            <div mat-card-avatar class="user__avatar"
                 *ngIf="imageUrl"
                 [ngStyle]="{ backgroundImage: 'url(' + imageUrl + ')'}">
            </div>
            <div mat-card-avatar class="user__avatar"
                 *ngIf="!imageUrl"
                 [ngStyle]="{ backgroundImage: 'url(/assets/default-user-image.png)'}">
            </div>
            <span class="user__name"> {{ user?.name }} </span>
            <button mat-button matSuffix mat-icon-button
                    (click)="userAccount.close(); isSuccessDeleted = true">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-header>

          <mat-card-content>
            <div class="user__photo" *ngIf="imageUrl" [ngStyle]="{ backgroundImage: 'url(' + imageUrl + ')'}"></div>
            <div class="user__photo" *ngIf="!imageUrl"
                 [ngStyle]="{ backgroundImage: 'url(/assets/default-user-image.png)'}"></div>
            <div class="user__profile-btn-wrapper">
              <label class="user__photo--label">
                Сhoose a photo
                <input (change)="onImagePicked($event)" accept=".jpg, .jpeg, .png" type="file"
                       class="user__photo--input">
              </label>
              <button mat-raised-button color="accent"
                      (click)="onImageUpload()" [disabled]="!isNewPhoto">
                Submit
              </button>
            </div>

            <p class="user__photo--name" *ngIf="imageName">{{ imageName }}</p>
            <mat-error *ngIf="isImgTooBig" class="user__photo--error">File should not be more than 1 mg</mat-error>
            <mat-error *ngIf="isImgUploadError" class="user__photo--error">
              Sorry, something went wrong and we can’t update your photo now. Please try again later.
            </mat-error>

            <p class="user__profile-text">
              <span class="user__profile-text--bold">Email:</span>
              {{ user?.email }}
            </p>
            <p class="user__profile-text">
              <span class="user__profile-text--bold">Registration date:</span>
              {{ user?.dates | date:'longDate' }}
            </p>
          </mat-card-content>
          <mat-card-actions class="user__profile--btn-wrapper">
            <button mat-raised-button color="accent">Change password</button>
            <button mat-raised-button color="warn" (click)="deleteAccount()">Delete account</button>
          </mat-card-actions>
          <mat-error *ngIf="!isSuccessDeleted"> We can't delete your account now, please try again later </mat-error>
        </mat-card>
      </mat-sidenav>

      <mat-sidenav-content class="user__projects">
        <p *ngIf="!userProjects.length" class="user__projects--title">You don't have any projects.</p>

        <div *ngIf="userProjects.length">
          <p class="user__projects--title">Your projects:</p>
          <app-user-projects-list
            [projectsList]="userProjects">
          </app-user-projects-list>
        </div>

        <button mat-raised-button type="button" color="primary" class="user__account-open--btn"
                *ngIf="!isAccountOpen"
                (click)="userAccount.open()">
          Open Account
        </button>

        <a routerLink="/project/create" class="user__projects--create-btn-link">
          <button mat-raised-button color="accent" class="user__projects--create-btn">
            Create a project
          </button>
        </a>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>

</div>



