<div class="wrapper">
  <a routerLink="/project/create">
    <button mat-raised-button color="accent">
      Create a project
    </button>
  </a>


  <mat-sidenav-container class="user__profile--container" hasBackdrop='false'>

    <mat-sidenav #userAccount mode="push" [(opened)]="isAccountOpen">

      <mat-card class="user__profile">
        <mat-card-header class="user__profile--header">
          <div mat-card-avatar class="user__avatar"
               *ngIf="imageUrl"
               [ngStyle]="{ backgroundImage: 'url(' + imageUrl + ')'}">
          </div>
          <div mat-card-avatar class="user__avatar"
               *ngIf="!imageUrl"
               [ngStyle]="{ backgroundImage: 'url(/assets/default-user-image.png)'}">
          </div>
          <span class="user__name"> Yulia Chornenka </span>
          <button mat-button matSuffix mat-icon-button
                  (click)="userAccount.close()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <div class="user__photo" *ngIf="imageUrl" [ngStyle]="{ backgroundImage: 'url(' + imageUrl + ')'}"></div>
          <div class="user__photo" *ngIf="!imageUrl"
               [ngStyle]="{ backgroundImage: 'url(/assets/default-user-image.png)'}"></div>
          <div class="user__profile-btn-wrapper">
            <label class="user__photo--label">
              Сhoose a photo
              <input (change)="onImagePicked($event)" accept=".jpg, .jpeg, .png" type="file" class="user__photo--input">
            </label>
            <button mat-raised-button color="accent" (click)="onImageUpload()">Submit</button>
          </div>

          <p class="user__profile-text"><span class="user__profile-text--bold">Email:</span> blackyulia@583</p>
          <p class="user__profile-text"><span class="user__profile-text--bold">Registration date:</span> blackyulia@583
          </p>
        </mat-card-content>
      </mat-card>
    </mat-sidenav>

    <button mat-raised-button type="button" color="primary"
            *ngIf="!isAccountOpen"
            (click)="userAccount.open()">
            Open Account
    </button>

  </mat-sidenav-container>

</div>



