@import "../../styles/variables/colors";
@import '../../styles/layout/media';


.user {
  margin: 0 auto 65px auto;

  &__error {
    text-align: center;
    font-size: 24px;
    color: #f44336;
  }

  &__account-open--btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__profile {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #BBBBBB;

    @include phones {
      width: 280px;
    }

    &--container {
      min-height: 650px;
      background-color: transparent;
    }

    &-btn--close {
      margin-left: 20px;
    }

    &--header {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include phones {
      flex-direction: column;
      justify-content: space-between;
      height: 90px;
    }

    &-text {
      font-size: 18px;

      @include phones {
        font-size: 14px;
      }

      &--bold {
        font-weight: 500;
      }
    }

    &--btn-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 70%;
    text-align: center;

    @include phones {
      font-size: 16px;
    }
  }

  &__avatar {
    background-size: cover;
  }

  &__photo {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background-size: cover;

    @include phones {
      height: 200px;
    }

    &--input {
      visibility: hidden;
    }

    &--label {
      background-color: $lightpurple;
      width: 143px;
      font-size: 16px;
      color: white;
      padding: 5px;
      text-align: center;
      box-sizing: border-box;
      height: 34px;
      border-radius: 5px;
      cursor: pointer;
    }

    &--name {
      white-space: nowrap;
      overflow: hidden;
      padding: 5px 0;
      text-overflow: ellipsis;
      box-sizing: border-box;
      margin: 0;
    }

    &--error {
      display: block;
      max-width: 340px;
    }
  }

  &__projects {
    text-align: center;
    position: relative;

    &--title {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 50px;
      margin-top: 0;

      @include phones {
        margin-bottom: 20px;
        margin-top: 60px;
      }
    }

    &--create-btn {
      display: inherit;

      &-link {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

