@import "../../variables/colors";

.form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__field {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__addition {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  &__separator {
    display: flex;
    align-items: center;
  }

  &__decoration {
    height: 1px;
    width: 60px;
    background-color: $dimgray;
    margin-right: 10px;
    margin-left: 10px;
  }

}
