<form [formGroup]="addMentorForm" (ngSubmit)="onSubmit()" class="form">
  <h2 class="form__title" *ngIf="!membersMode; else addMemberTitle">
    Add mentor
  </h2>
  <mat-form-field class="form__input">
    <input
      type="text"
      matInput
      formControlName="mentorName"
      [matAutocomplete]="auto"
    />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      (click)="OnUserSelected(user)"
      *ngFor="let user of filteredUsers | async"
      [value]="user.name"
    >
      <div class="form__option">
        <div class="form__image-container">
          <img
            aria-hidden
            [src]="user.photo || '/assets/default-user-image.png'"
            class="form__image"
          />
        </div>
        <span class="form__contacts">{{ user.name }}</span> |
        <small class="form__contacts" [matTooltip]="user.email">{{
          user.email
        }}</small>
      </div>
    </mat-option>
  </mat-autocomplete>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    *ngIf="!membersMode; else addMemberButton"
  >
    Add mentor
  </button>
</form>

<ng-template #addMemberTitle>
  <h2 class="form__title">
    Add member
  </h2></ng-template
>

<ng-template #addMemberButton>
  <button mat-raised-button type="submit" color="primary">
    Add member
  </button>
</ng-template>
