<div class="assessment" *ngIf="user && team">
  <mat-card class="assessment__card">
    <mat-card-content>
      <form>
        <section class="assessment__points points">
          <header>Please rate team's work on current project:</header>
          <div class="stars">
            <input type="radio" name="rating" id="star_5" value="5" (change)="sendRating(5)" [checked]="5 == mentor.mark">
            <label for="star_5">
              <mat-icon>star</mat-icon>
            </label>
            <input type="radio" name="rating" id="star_4" value="4" (change)="sendRating(4)" [checked]="4 == mentor.mark">
            <label for="star_4">
              <mat-icon>star</mat-icon>
            </label>
            <input type="radio" name="rating" id="star_3" value="3" (change)="sendRating(3)" [checked]="3 == mentor.mark">
            <label for="star_3">
              <mat-icon>star</mat-icon>
            </label>
            <input type="radio" name="rating" id="star_2" value="2" (change)="sendRating(2)" [checked]="2 == mentor.mark">
            <label for="star_2">
              <mat-icon>star</mat-icon>
            </label>
            <input type="radio" name="rating" id="star_1" value="1" (change)="sendRating(1)" [checked]="1 == mentor.mark">
            <label for="star_1">
              <mat-icon>star</mat-icon>
            </label>
          </div>
        </section>
        <section class="assessment__comment comment">
          <header>And leave a comment if you feel like it:</header>
          <mat-form-field class="comment__textarea">
            <textarea (change)="sendComment($event)" 
                      matInput 
                      cdkTextareaAutosize 
                      #autosize="cdkTextareaAutosize" 
                      cdkAutosizeMinRows="1" 
                      cdkAutosizeMaxRows="20"
                      id="mentor_comment">{{ mentor.comment }}</textarea>
          </mat-form-field>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</div>