@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

section {
  min-height: 600px;
}
